<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CopyPasta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container-fluid">
    <a class="navbar-brand">CopyPasta</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/process/[DOWNLOAD IMG]{{img_path_formated}}">Télécharger l'image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/process/[COPY IMG]{{img_path_formated}}">Copier l'image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/process/[HOME]">Menu principal</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <img src="../{{img_path}}" alt="Ta belle image ! :D" class="center" style="margin-top: 50px;">
    
</body>

<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}
</style>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <script>
    var messages = {{ messages | safe }};
      alert(messages[messages.length-1]);
  </script>
{% endif %}
{% endwith %}

</html>
