<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CopyPasta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">CopyPasta</a>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Configuration
                    </div>
                    <div class="card-body">
                        <h5>Bienvenue dans CopyPasta</h5>
                        <h6>Scannez ce QR Code dans l'application :</h6>
                        <img class="mb-3" src="../static/qr.jpeg" width="125px" height="auto" />
                        <h6>Nom : {{hostname}}</h6>
                        <h6>IP : {{ip}}</h6>

                    </div>
                </div>

            </div>
            
            <div class="col-md">
                <h1>Derniers textes scannés :</h1>
                <hr/>
                <a href="/process/[DEL HISTORY]" class="btn btn-primary mb-3">Supprimer tout l'historique</a>

                <table class="table table-striped text-center">
                    <thead>
                        <tr class="bg-primary" style="color: white;">
                            <th scope="col">Date</th>
                            <th scope="col">Text</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in range(0, len1-1)%}
                        <tr>
                            <td>{{dates[i+1]}}</td>
                            <td>{{hist[i][1:25]}}...</td>
                            <td>
                                <a href="/process/[COPY_SCAN_FROM_HIST]{{i}}" class="btn btn-primary">Copier</a>
                                <a href="/process/[DELETE_SCAN_FROM_HIST]{{i}}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                {%if (len1-1 == 0)%}
                    <h3 style="">Aucun texte n'a été scanné</h3>
                    <hr/>
                {%endif%}

                <h1>Dernières images envoyées :</h1>
                <hr/>
                <a href="/process/[DEL_IMAGE HISTORY]" class="btn btn-primary mb-3">Supprimer tout l'historique</a>

                <table class="table table-striped text-center">
                    <thead>
                        <tr class="bg-primary" style="color: white;">
                            <th scope="col">Date</th>
                            <th scope="col">Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in range(0, len2)%}
                        <tr>
                            <td>{{images_dates[i]}}</td>
                            <td><img src="../static/images_hist/{{images_hist[i]}}" height="auto" width="100px"></td>
                            <td>
                                <a href="/process/[OPEN_IMAGE_SCAN_FROM_HIST]{{images_hist[i]}}" class="btn btn-primary">Ouvrir l'Image</a>
                                <a href="/process/[DELETE_IMAGE_SCAN_FROM_HIST]{{images_hist[i]}}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    {%if (len2 == 0)%}
                        <h3 style="">Aucune  image n'a été scannée</h3>
                        <hr/>
                    {%endif%}
                </table>

                


            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
        var messages = {
            {
                messages | safe
            }
        };
        alert(messages[messages.length - 1]);
    </script>
    {% endif %} {% endwith %}

    <style>
        .btn-primary {
            color: white;
        }
        
        body {
            background: #333 url(https://wallpaperaccess.com/full/1236480.jpg) repeat;
        }
    </style>
</body>

</html>
