<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title  translate="no">CopyPasta/Video</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

        <div class="container-fluid">
        <a class="navbar-brand" href="/" translate="no">CopyPasta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" name="over" href="/process/[HOME]">Main menu</a>
              </li>
              <li>
                <div id="google_translate_element"></div>
              </li>
            </ul>
          </div>
        </div>
    
      </nav>
      
      <div class="mx-3 my-5 text-center">
        <button class="btn btn-primary" style="margin-top: 50%; width:80%;" onclick="window.location.href='/download/send_file?file={{file}}'">CLICK HERE TO DOWNLOAD YOUR FILE</button>
        <h5 class="mt-3">You can close this page once you have downloaded your file.</h5>
      </div>


      


  <style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
        background-color: #009c74 !important;
        border-color: #009c74;
        color: white;
    }
    
    .bg-primary{
        background-color: #009c74 !important;
        border-color: #009c74;
        color: #009c74;
    }
    
    
    .sep_left{
      border-left: 1px solid #ffffff;
      margin-left: 10px;
    }

  </style>


  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      document.getElementsByTagName("body")[0].style = "";
  
    }
  </script>
</body>