<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li><button onclick="window.location='/[SETTINGS]'">Settings</button></li>  
    <h1>Scan the QR code with your CopyPasta app and begin sending scans ;D</h1>
    <img src="static/qr.jpeg" alt="Scan me :D" class="center">
    
</body>


<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 20%;
}

</style>


</html>