<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title  translate="no">CopyPasta</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" translate="no">CopyPasta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active"> <a class="nav-link active fs-5" href="https://copypastaofficial.github.io"><i class="bi bi-info-square"></i></a></li>
                </ul>
              </div>
        </div>
    </nav>
    
    <div class="container mt-3">
        <div id="alert_container"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        Configuration
                    </div>
                    <div class="card-body">
                        <h5>Welcome to CopyPasta</h5>
                        <div id="google_translate_element"></div>
                        <h6>Scan this QR Code with the app :</h6>
                        <img class="mb-3" src="../static/qr.jpeg" width="125px" height="auto" />
                        <h6><b>NAME :</b> {{hostname}}</h6>
                        <h6><b>IP :</b> {{ip}}</h6>
                        <hr>
                        <h6>
                            {%if tab!=True%}
                            <div class="form-check form-switch">                                
                                <label class="form-check-label" for="flexSwitchCheckDefault">Open a new tab when a scan is received</label>
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="change_tab_settings()"/>
                            </div>
                            {%else%}
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Open a new tab when a scan is received</label>
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" onclick="change_tab_settings()" checked/>
                                </div>
                            {%endif%}
                                                    
                        </h6>
                        <hr>
                        <a href="javascript:shutdown_server();"><h6>Server shutdown  <a class="bi bi-power" href="javascript:shutdown_server();"></a></h6></a>
                    </div>
                </div>

            </div>

            
            <div class="col-md">

                <h1>Last files/data sent :</h1>
                <hr/>
                <button class="btn btn-danger mb-3" onclick="request('History deleted !','/process/[DEL HISTORY]')">Delete all history <i class="bi bi-trash-fill fs-5"></i></button>

                <table class="table table-striped text-center" id="history_table">
                    <thead>
                        <tr class="bg-primary" style="color: white;">
                            <th scope="col">Optionnal data</th>
                            <th scope="col">Content/File name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="history_table_body">

                    </tbody>
                </table>



            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
        var messages = {
            {
                messages | safe
            }
        };
        alert(messages[messages.length - 1]);
    </script>
    {% endif %} {% endwith %}

    <style>
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
            background-color: #009c74 !important;
            border-color: #009c74;
            color: white;
        }

        .alert-primary{
            background-color: #009c74 !important;
            border-color: #009c74;
            color: white;
        }

        .bg-primary{
            background-color: #009c74 !important;
            border-color: #009c74;
            color: #009c74;
        }
        
        body {
            background: #333 url(https://wallpaperaccess.com/full/1236480.jpg) repeat;
            top: 0px !important; 

        }

        .goog-te-banner-frame.skiptranslate {
        display: none !important;
        } 


        

    </style>
    
    <script>


        function get_private_ip(){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", "http://127.0.0.1:21987/api/get_private_ip", false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        var private_ip = get_private_ip();

        function isOnline(){

            try {

                var new_ip = get_private_ip(); 

                if(private_ip == new_ip){
                    return true;
                }else{
                    private_ip = new_ip;
                    return false;
                }
                
                
            } catch (error) {
                console.log(error);
                return false;
            }

            
        }



        var n_elements = 0;
        var is_online = true;

        function fill_history_tab(){

            var xmlHttp = new XMLHttpRequest();

            xmlHttp.open( "GET", "http://127.0.0.1:21987/api/get_history", false ); // false for synchronous request
            xmlHttp.send( null );
            var r = xmlHttp.responseText;
            if(r == "{\"history\" : []}"){
                document.getElementById("history_table_body").innerHTML = "";
            }else{
                var json = JSON.parse(r).history;
            
                var elements = [];

                for (let i = 0; i < json.length; i++) {
                    var obj = json[i];
                    var tab_element = "";

                    var images_ext = ["jpeg","jpg","png","ico","gif","apng","avif","gif","jfif","pjpeg","pjp","svg","webp"];
                    var videos_ext = ["mp4","avi","ogg","mow","wmf","flv","webm","mkv","vob","wmv"]
                    var audios_ext = ["m4a","flac","mp3","wav","aiff","pcm","alac","wma","ogg","aac"]
                    var delete_scan_icon = "<button class=\"btn btn-danger ms-2\" onclick=\"request('File deleted !','/process/[DELETE_SCAN_FROM_HIST]?scan_id="+i+"')\"><i class=\"bi bi-trash-fill\"></i></button>";
                    var delete_file_icon = "<button class=\"btn btn-danger ms-2\" onclick=\"request('File deleted !','/process/[DELETE_FILE_FROM_HIST]?file_id="+i+"')\"><i class=\"bi bi-trash-fill\"></i></button>";
                    var copy_content_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"request('Content copied to clipboard...','/process/[COPY CONTENT]?scan_id="+i+"')\"><i class=\"bi bi-clipboard\"></i></button>";
                    var send_icon = "<button type=\"button\" class=\"btn btn-primary\"><i class=\"bi bi-envelope-fill\"></i></button>";
                    var open_icon = "<button type=\"button\" class=\"btn btn-primary\"><i class=\"bi bi-file-earmark-arrow-up\"></i></button>";
                    var open_folder_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"request('Opening folder...','/process/[OPEN FILES EXPLORER]')\"><i class=\"bi bi-folder-symlink\"></i></button>";
                    var search_icon = "<button type=\"button\" class=\"btn btn-primary\"><i class=\"bi bi-search\"></i></button>";

                    
                    //images
                    if(images_ext.includes(obj.file_type)){
                        tab_element = "<tr>"+"<td>"+obj.date+"</td>"+"<td><img src=\""+obj.path+"\" height=\"auto\" width=\"100px\"></td>"+"<td><button type=\"button\" class=\"btn btn-primary\" onclick=\"window.open('http://127.0.0.1:21987/image_preview?image_id="+i+"','_blank')\">Image options</button>"+delete_file_icon+"</td></tr>";
                    
                    //videos
                    }else if(videos_ext.includes(obj.file_type)){
                        
                        var open_file_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"request('Opening video...','/process/[OPEN FILE]?file_path="+obj.path+"')\"><i class=\"bi bi-file-earmark-arrow-up\"></i></button>";

                        tab_element = "<tr><td><div class=\"fs-1 mb-1\"><i class=\"bi bi-film\"></i></div></td><td><div style=\"margin-top:15px;\">title:"+obj.file_name+"</td></div><td><div style=\"margin-top:15px;\">"+open_folder_icon+"<br>"+open_file_icon+delete_file_icon+"</div></td></tr>";
                    
                    //audio
                    }else if(audios_ext.includes(obj.file_type)){
                        var open_file_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"request('Opening audio...','/process/[OPEN FILE]?file_path="+obj.path+"')\"><i class=\"bi bi-file-earmark-arrow-up\"></i></button>";

                        tab_element = "<tr><td><div class=\"fs-1 mb-1\"><i class=\"bi bi-file-earmark-music-fill\"></i></i></div></td><td><div style=\"margin-top:15px;\">title:"+obj.file_name+"</td></div><td><div style=\"margin-top:15px;\">"+open_folder_icon+"<br>"+open_file_icon+delete_file_icon+"</div></td></tr>";
                    

                    }else{
                        //text scans
                                                
                        if(obj.file_type == "text"){
                            if(obj.text.length > 12){
                                var text = obj.text.substring(0,12) + "...";

                            }else{
                                var text = obj.text;
                            }
                            tab_element = "<tr><td>"+obj.date+"</td>    <td>"+text+"</td>    <td>        <a class=\"btn btn-primary me-2\" onclick=\"request('Scan copied !','/process/[COPY_SCAN_FROM_HIST]?scan_id="+i+"')\" >Copy</a>        <a href=\"/hist/"+i+"\" class=\"btn btn-primary me\">Open the text</a>"+delete_scan_icon+"</td></tr>";
                        //wifi type
                        }else if(obj.file_type == "wifi"){
                            
                            tab_element = "<tr><td><div class=\"fs-1 mb-1\"><i class=\"bi bi-wifi\"></i></div></td><td><div style=\"margin-top:15px;\">"+obj.ssid+"</div></td><td><div style=\"margin-top:15px;\"><a class=\"btn btn-primary\" onclick=\"request('Wifi password copied !','/process/[COPY WIFI PW]?scan_id="+i+"')\">Copy password</a>"+delete_scan_icon+"</div></td></tr>";
                        
                        //barcode type
                        }else if(obj.file_type == "isbn"){

                            search_icon = "<button type=\"button\" onclick=\"window.open('http://google.com?q="+obj.content+"','_blank')\" class=\"btn btn-primary me-2\"><i class=\"bi bi-search\"></i></button>";

                            tab_element = "<tr><td><div class=\"fs-1 mb-1\"><i class=\"bi bi-upc-scan\"></i></div></td><td><div style=\"margin-top:15px;\">isbn:"+obj.content+"</div></td><td><div style=\"margin-top:15px;\">"+search_icon+copy_content_icon+delete_scan_icon+"</div></td></tr>";
                        
                        //emails
                        }else if(obj.file_type == "email"){

                            tab_element = "<tr><td>"+obj.addr+"</td><td>title:"+obj.subject+"</td><td><a href=\"mailto:"+obj.addr+"?subject="+obj.subject+"&amp;body="+obj.content+"\" class=\"btn btn-primary me-2\" >Send</a>"+copy_content_icon+delete_scan_icon+"</td></tr>";
                        

                        //urls
                        }else if(obj.file_type == "url"){

                            search_icon = "<button type=\"button\" onclick=\"window.open('"+obj.url+"','_blank')\" class=\"btn btn-primary me-2\"><i class=\"bi bi-search\"></i></button>";
                            var copy_url_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"copy_text('"+obj.url+"')\"><i class=\"bi bi-clipboard\"></i></button>";
                            var b_url = obj.url.replace(/(.{25})/g, "$1<br>");
                            tab_element = "<tr><td><div class=\"fs-1 mb-1\"><i class=\"bi bi-globe2\"></i></div></td><td><div style=\"margin-top:15px;\">"+b_url+"</div></td><td><div style=\"margin-top:15px;\">"+search_icon+copy_url_icon+delete_scan_icon+"</div></td></tr>";

                        //random file
                        }else{
                            var open_file_icon = "<button type=\"button\" class=\"btn btn-primary\" onclick=\"request('Opening file...','/process/[OPEN FILE]?file_path="+obj.path+"')\"><i class=\"bi bi-file-earmark-arrow-up\"></i></button> ";

                            tab_element = "<tr><td>"+obj.date+"</td><td>"+obj.file_name+"</td><td>"+open_folder_icon+"<br>"+open_file_icon+delete_file_icon+"</td></tr>";
                        }
                    }

                


                    elements.push(tab_element);


                }
                var all = "";

                elements.reverse();
                for(let i = 0;i<elements.length;i++){
                    all = all + elements[i];
                }

                var ele_l = elements.length;

                if(n_elements< ele_l || n_elements > ele_l){
                        notify("New element received !");
                        document.getElementById("history_table_body").innerHTML = all;
                        n_elements = elements.length;
                }
               


            }

            if(!isOnline() && is_online){
                notify("network change detected !")
                is_online = false;
            }
                
            if(isOnline() && !is_online){
                notify("network change detected !")
                request("http://127.0.0.1:21987/api/update_ip");
                is_online = true;

                setTimeout(function() {window.location.reload(true);},2000);
            }
            setTimeout(fill_history_tab,200);
        }





    function change_tab_settings(){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "http://127.0.0.1:21987/process/[CHANGE TAB SETTINGS]", false ); // false for synchronous request
        xmlHttp.send( null );
        console.log("tab settings changed")
    }
    


    function close_alert(){
        document.getElementById("alert_container").innerHTML = "";
    }
    function notify(text){
        document.getElementById("alert_container").innerHTML = "<div class=\"alert alert-primary alert-dismissible fade show\" role=\"alert\">"+text+
            "<button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\" aria-label=\"Close\"></button>"+
            "</div>"

        setTimeout(close_alert,10000);
    }


    function request(url){

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", url, true ); // false for synchronous request
        xmlHttp.send( null ); 
    }



    function copy_text(text) {
        navigator.permissions.query({name: "clipboard-write"}).then(result => {
            if (result.state == "granted" || result.state == "prompt") {
                /* write to the clipboard now */
                navigator.clipboard.writeText(newClip).then(function() {

                }, function() {
                  notify("Error while writing text to clipboard.")
                });
            }else{
                notify("Please accept the navigator to interacrt with your clipboard.");
            }
        });
        
    }
   



    window.onload = fill_history_tab();



    function shutdown_server(){
        request("http://127.0.0.1:21987/api/shutdown_server");
        notify("CopyPasta server is now off. You may close this tab.");
    }

</script>

<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>


    
    
</body>

</html>
