<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title translate="no">CopyPasta/Scan preview</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container-fluid">
    <a class="navbar-brand" href="/" translate="no">CopyPasta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" name="over" href="send_event([CLEAR_LAST_SCAN],{data:''})">Clear the text</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" name="over" href="send_event([COPY_LAST_SCAN],{data:''})">Copy scan</a>
          </li>
          <li class="nav-item">
            <a type="submit" class="nav-link active" name="over" onclick="document.getElementById('paper').submit();">Download scan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" name="over" href="/process/[HOME]">Main menu</a>
          </li>
          <li>
            <div id="google_translate_element"></div>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  
    <br>
    <br>
    <div id="wrapper">

      <form id="paper" method="POST" action=""  class="center">
        <div class="col-2">          
          <label for="title">File name :</label>
          <input id="title" type="text" name="title" value="MyTextScan" class="form-control">
        </div>
        <div class="col-10">
          <div id="text" name="text" contenteditable="true" class="form-control" style="min-height: 20px; margin-top: 10px;">{{scan}}</div>
          <small id="charcount" class="form-text text-muted" style="float: left;">0 characters</small>
        </div>
      </form>
            
    </div>


    
</body>




<script>

  const socket = io();
  
  function send_event(event_name,json_data){
    socket.emit(event_name,json_data)
  }

  socket.on("[CLEAR_LAST_SCAN]",function (data){
    document.getElementById("text").innerText = "";
  });




  document.getElementsByName("over").forEach(function(everyitem){

everyitem.addEventListener('mouseover', function(e){

  everyitem.className += " border border-white rounded";

});

everyitem.addEventListener('mouseleave', function(e){

  everyitem.className = "nav-link active";


});


});
</script>

<script>

  function text_size_counter(){
    document.getElementById("charcount").innerText = document.getElementById("text").innerText.length + " characters";
  }

  var area = document.getElementById("text");
if (area.addEventListener) {
  area.addEventListener('input', function() {
    text_size_counter();
  }, false);
} else if (area.attachEvent) {
  area.attachEvent('onpropertychange', function() {
    // IE-specific event handling code
  });
}

  window.onload = text_size_counter();
</script>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    document.getElementsByTagName("body")[0].style = "";

  }
</script>



<style>


  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: #009c74 !important;
    border-color: #009c74;
    color: white;
}

.bg-primary{
    background-color: #009c74 !important;
    border-color: #009c74;
    color: #009c74;
}


.sep_left{
  border-left: 1px solid #ffffff;
  margin-left: 10px;
}

body {
  overflow: hidden;
}

.center {
  margin: 0 auto;
  margin-left: 7%;
  width: 100%;
}


body {
	background:#333 url(https://wallpaperaccess.com/full/1236480.jpg) repeat;
	      
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
} 



</style>

</html>